<div>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<nav class="navbar navbar-light bg-light">
				<span class="navbar-brand mb-0 h1">Product List</span>
			</nav>
			<ul class="navbar-nav mr-auto">
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<a ng-hide="btnHide" ui-sref="authentication.product.update" class="btn btn-success my-2 my-sm-0">Insert Product</a>
			</form>
		</div>
	</nav>
	<div ui-view></div>
</div>